<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head('Formulario de Categoría')"></head>
    <body th:replace="fragments/layout :: shell(~{::section})">
        <section>

        <!-- Navbar -->
        <div th:replace="navbar :: navbar"></div>

        <div class="container mt-5">
            <h2 th:text="${categoria != null ? 'Editar Categoria' : 'Nueva Categoria'}"></h2>    

            <form th:action="@{/categorias/guardar}" th:object="${categoria}" method="post">
                <input type="hidden" th:field="*{id}" />

                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" th:field="*{nombre}" id="nombre" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <textarea th:field="*{descripcion}" id="descripcion" class="form-control" rows="3" required></textarea>
                </div>

                <button type="submit" class="btn btn-primary" th:text="${categoria.id == null ? 'Guardar' : 'Actualizar'}">Guardar</button>
                <a th:href="@{/categorias}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
        </section>
    </body>
</html>

