<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head('Ciudad')"></head>

    <body th:replace="fragments/layout :: shell(~{::section})">
        <section>
        <div class="container mt-5">
            <h2 th:text="${ciudad.idCiudad != null} ? 'Nueva Ciudad' : 'Editar Ciudad'"></h2>

            <form th:action="@{/ciudades/guardar_ciudad}" th:object="${ciudad}" method="post" class="mt-4" style="max-width: 600px; padding: 30px; border-radius: 16px; box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); background-color: rgba(255, 255, 255, 0.7);">
                <!-- Hidden input for idCiudad -->
                <input type="hidden" th:field="*{idCiudad}" />

                <div class="mb-3">
                    <label for="ciudad" class="form-label">Nombre de la Ciudad</label>
                    <input type="text" th:field="*{ciudad}" id="ciudad" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="ciuestados" class="form-label">Selecciona un estado</label>
                    <select th:field="*{ciuEs}" class="form-select" id="ciuestados">
                        <option value="Activo" th:selected="${ciudad.ciuEs == 'Activo'}">Activo</option>
                        <option value="Inactivo" th:selected="${ciudad.ciuEs == 'Inactivo'}">Inactivo</option>
                    </select>
                    <small class="form-text text-muted">Los valores solo pueden ser Activo o Inactivo.</small>
                </div>

                <div class="mb-3">
                    <label for="pais" class="form-label">País</label>
                    <select th:field="*{idPais}" class="form-select" id="pais" required>
                        <option value="" disabled selected>Seleccione un País</option>
                        <option th:each="pais : ${paises}" th:value="${pais.idPais}" th:text="${pais.paDes}"></option>
                    </select>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-success w-100" th:text="${ciudad.idCiudad == null ? 'Actualizar' : 'Guardar'}">Guardar</button>
                </div>

                <div class="mb-3">
                    <a th:href="@{/ciudades}" class="btn btn-secondary w-100">Cancelar</a>
                </div>

            </form>
        </div>
        </section>
    </body>
</html>

