<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head('Lista de Productos')"></head>
    <body th:replace="fragments/layout :: shell(~{::section})">
    <section>


        <div class="container mt-5">
            <h2 class="text-center">Lista de Productos</h2>

            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="producto : ${productos}">
                        <td th:text="${producto.id}"></td>
                        <td th:text="${producto.nombre}"></td>
                        <td th:text="${producto.descripcion}"></td>
                        <td th:text="${producto.precio}"></td>
                        <td th:text="${producto.cantidad}"></td>
                        <td>
                            <a th:href="@{/productos/editar/{id}(id=${producto.id})}" class="btn btn-primary btn-sm">Editar</a>
                            <form th:action="@{/productos/eliminar/{id}(id=${producto.id})}" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center"><a href="/productos/nuevo" class="btn btn-success mb-3">Agregar Producto</a>
        </div>


        
    </section>
    </body>
</html>

