<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(${pais.idPais != null} ? 'Editar País' : 'Nuevo País')"></head>
<body th:replace="fragments/layout :: shell(~{::section})">
<section>

<div class="container mt-5">
    <h2 class="text-center" th:text="${pais.idPais != null} ? 'Nuevo País' : 'Editar País'">Nuevo Pais</h2>

    <form th:action="@{/paises/guardar}" th:object="${pais}" method="post" class="mt-4">
        <input type="hidden" th:field="*{idPais}" />

        <div class="mb-3">
            <label for="paDes" class="form-label">Nombre del País</label>
            <input type="text" th:field="*{paDes}" id="paDes" class="form-control" placeholder="Ingrese el nombre del País" required>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-success" th:text="${pais.idPais == null ? 'Actualizar' : 'Guardar'}">Guardar</button>
            <a th:href="@{/paises}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

</section>
</body>
</html>

