<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head(${barrio.id != null} ? 'Editar Barrio' : 'Nuevo Barrio')"></head>
<body th:replace="fragments/layout :: shell(~{::section})">
<section>
    
    
<div class="container mt-5">
    <h2 th:text="${barrio.id != null} ? 'Editar Barrio' : 'Nuevo Barrio'"></h2>

    <form th:action="@{${barrio.id != null} ? '/barrios/actualizar' : '/barrios/guardar'}" th:object="${barrio}" method="post" class="bg-light p-4 rounded">
        <input type="hidden" th:field="*{id}" />
        
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" th:field="*{nombre}" id="nombre" class="form-control" required>
        </div>

        

        <button type="submit" class="btn btn-primary" th:text="${barrio.id != null} ? 'Actualizar' : 'Guardar'">Guardar</button>
        <a th:href="@{/barrios}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

</section>
</body>
</html>
