<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm" th:fragment="navbar">
            <div class="container">
                <a class="navbar-brand fw-bold d-flex align-items-center gap-2" href="/">
                    <img src="https://cdn-icons-png.flaticon.com/512/2721/2721297.png" alt="Logo" width="32" height="32">
                    Tienda Informática
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link text-white fw-semibold" th:href="@{/productos}">Productos</a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/marcas}">Marcas</a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/categorias}">Categorías</a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/proveedores}">Proveedores</a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/usuarios}">Usuarios</a></li>
                        <li class="nav-item"><a class="nav-link text-white" th:href="@{/roles}">Roles</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
