<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head('Formulario de Marca')"></head>
<body th:replace="fragments/layout :: shell(~{::section})">
    <section>
    <div class="container mt-5">
        <h2 class="text-center" th:text="${marca.id != null} ? 'editarMarca' : 'Marca'"></h2>
            <form th:action="@{/marcas/guardar}" th:object="${marca}" method="post" class="bg-light p-4 rounded">
            <input type="hidden" th:field="*{id}" />
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" th:field="*{nombre}" id="nombre" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="paisOrigen" class="form-label">País de Origen</label>
                <input type="text" th:field="*{paisOrigen}" id="paisOrigen" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="anoFundacion" class="form-label">Año de Fundación</label>
                <input type="number" th:field="*{anoFundacion}" id="anoFundacion" class="form-control" required>
            </div>
    
            <button type="submit" class="btn btn-primary" th:text="${marca.id != null} ? 'Actualizar' : 'Guardar'">Guardar</button>
            <a th:href="@{/marcas}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
    </section>
    </body>
</html>

